body {
  background: #fff;
  color: #000;
}

tr.odd {
  background: #f4f4f4;
}

tr.even {
  background: #EEF4F9;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #336299;
}

.site-name a:link, .site-name a:visited {
  color: #fff;
}

.site-name a:hover {
  color: #fff;
}

.site-slogan {
  color: #eee;
}

#secondary {
  border-bottom:1px solid #8a929f;
}

#secondary li a {
  color: #000;
}

#secondary a:hover {
  color: #fff;
  background: #396496;
}

#mission {
  color: #000;
  background: #c0c0c0;
  border: 1px solid #ccc;
}

.submitted {
  color: #8E6126;
}

.sticky {
  background: #eee;
  border: solid 1px #ddd;
}

.node .picture {
  border: 1px solid #ddd;
}

.comment {
  border: 1px solid #abc;
  background: #ffffff url(../images/body-bg.gif) 0 0 repeat-x;
}

.comment .new {
  color: #cc0000;
}

.comment .picture {
  border: 1px solid #abc;
}

#aggregator .feed-source {
  background: #eee;
  border: 1px solid #ccc;
}

#forum td.forum, #forum td.posts {
  background: #eee;
}

#forum td.topics, #forum td.last-reply {
  background: #ddd;
}

#forum td.container {
  background: #ccc;
}

#forum td.container a {
  color: #555;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  border: 1px solid #bbb;
}

#profile .profile {
  border: 1px solid #abc;
}

div.admin-panel .description {
  color: #8E6126;
}

div.admin-panel .body {
  background: #f4f4f4;
}

div.admin-panel h3 {
  background: #336299;
  color: #fff;
}

.poll .bar {
  background: #D4E2F2;
}

.terms a {
  color: #999999;
}

#page-top-region {
  color: #ddd;
}

#page-bottom-region {
}

#page-top-region .title,
#page-top-region .title a {
   color: #ddd;
}

#page-bottom-region .title,
#page-bottom-region .title a {

}

#page-top-region a:link,
#page-top-region a:visited,
#page-top-region a.hover {
   color: #EEC193;
}

fieldset {
  border: 1px solid #ccc;
}

pre {
  background: #eee;
  border: 1px solid #ddd;
}

.form-item label {
  color: #222;
}

.item-list .title {
  color: #222;
}

#search .form-text {
  border:1px solid #00609D;
}

.messages {
  background: #e0fee1;
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

#section1 {
   background: #336299 url(../images/BottomBG.png) 0 0 repeat-x;
   color: #ddd;
   border: 1px solid #ccc;
}

#section1 .title,
#section1 .title a {
   color: #ddd;
}

#section1 a:link,
#section1 a:visited,
#section1 a.hover {
   color: #EEC193;
}

#section2 {
   background: #EEF4F9;
   border: 1px solid #ccc;
}

#header-region,
#header-region .title {
  color: #ddd;
}

#sub-nav-region {
  background: #fff url(../images/body-bg.gif) 0 0 repeat-x;
}

#node-top-region {
  border: 1px solid #abc;
  background: #fff url(../images/body-bg.gif) 0 0 repeat-x;
}

