body {
  background: #e6e6e6 url(bg-teal-gradient/bg-teal-gradient.jpg) 100% 0 repeat-x;
}

div#masthead .header-right {
	background: url(bg-teal-gradient/mast-r.gif) 100% 0 no-repeat;
}

div#masthead .header-left {
	background: url(bg-teal-gradient/mast-l.gif) 0 0 no-repeat;
}

div#footer-wrapper .footer-right {
  background:  url(bg-gradient/footer-r.gif) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
  height: 15px;
  overflow: hidden;
  background:  url(bg-gradient/footer-l.gif) 0 0 no-repeat;
}

#page-top-region {
  color: #ddd;
}

#page-top-region .title,
#page-top-region .title a {
   color: #ddd;
}

#page-top-region a:link,
#page-top-region a:visited,
#page-top-region a.hover {
   color: #EEC193;
}