body {
  background: #707070;
}

div#masthead .header-right {
	background: url(bg-dark-gray/mast-r.gif) 100% 0 no-repeat;
}

div#masthead .header-left {
	background: url(bg-dark-gray/mast-l.gif) 0 0 no-repeat;
}

div#footer-wrapper .footer-right {
  background:  url(bg-dark-gray/footer-r.gif) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
  height: 15px;
  overflow: hidden;
  background:  url(bg-dark-gray/footer-l.gif) 0 0 no-repeat;
}

#page-top-region,
#page-bottom-region {
  color: #ddd;
}

#page-top-region .title,
#page-top-region .title a,
#page-bottom-region .title,
#page-bottom-region .title a {
   color: #ddd;
}

#page-top-region a:link,
#page-top-region a:visited,
#page-top-region a.hover,
#page-bottom-region a:link,
#page-bottom-region a:visited,
#page-bottom-region a.hover, {
   color: #EEC193;
}