body {
  background: #ffffff;
}

div#masthead .header-right {
	background: url(bg-white/mast-r.gif) 100% 0 no-repeat;
}

div#masthead .header-left {
	background: url(bg-white/mast-l.gif) 0 0 no-repeat;
}

div#footer-wrapper .footer-right {
  background:  url(bg-white/footer-r.gif) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
  height: 15px;
  overflow: hidden;
  background:  url(bg-white/footer-l.gif) 0 0 no-repeat;
}
