ul#primary-links li {
background:transparent url("trans/trans-tab1.gif") no-repeat scroll 0% 0px;
}
ul#primary-links li a {
background:transparent url("trans/trans-tab2.gif") no-repeat scroll 100% 0px;
}
ul#primary-links li:hover, ul#primary-links li.active {
background:transparent url("trans/trans-tab1.gif") no-repeat scroll 0% 0px;
background-position:0% -24px;
}
ul#primary-links li:hover a, ul#primary-links li.active a {
background:transparent url("trans/trans-tab2.gif") no-repeat scroll 100% 0px;
background-position:100% -24px;
}