ul#primary-links li {
background:transparent;
}
ul#primary-links li a {
background:transparent;
}
ul#primary-links li:hover, ul#primary-links li.active {
background:transparent;
}
ul#primary-links li:hover a, ul#primary-links li.active a {
background:transparent;
}