/* PRIMARY LINK TABS */

ul#primary-links li {
background:transparent url("green/green-tab1.png") no-repeat scroll 0% 0px;
}

ul#primary-links li a {
background:transparent url("green/green-tab2.png") no-repeat scroll 100% 0px;
}

ul#primary-links li:hover {
background:transparent url("green/green-tab1.png") no-repeat scroll 0% 0px;
background-position:0% -24px;
}

ul#primary-links li:hover a {
background:transparent url("green/green-tab2.png") no-repeat scroll 100% 0px;
background-position:100% -24px;
}

ul#primary-links li.active {
background:transparent url("green/green-tab1.png") no-repeat scroll 0% 0px;
background-position:0% -24px;
}

ul#primary-links li.active a {
background:transparent url("green/green-tab2.png") no-repeat scroll 100% 0px;
background-position:100% -24px;
}
