/*  LAYOUT - POSITIONING and default icons only  */

body {
  padding: 0 350px;
  margin: 0;
  font-size: 100.01%;
  text-align: center;
}

#sizer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: left;
  max-width: 580px;
}

#expander {
  margin: 0 -350px;
  min-width: 700px; 
  position: relative;
  min-height: 1px;
} 

#wrapper {
  width: 100%;
  font-size: 80%;
  position: relative;
 } 

#wrapper1 {
  position: relative;
}

#wrapper2 {  
  position: relative;
}

#wrapper1 .outer {
  margin-left: 200px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

#wrapper2 .outer {
  margin-right: 200px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

#wrapper1 #wrapper2 .outer {
  margin-left: 200px;
  margin-right: 200px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.float-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.center-wrap {
  float: right;
  width: 100%;
}

#sidebar-left {
  float: left;
  position: relative;
  width: 200px;
  margin-left: -202px;
}

#sidebar-right {
  float: right; 
  position: relative;
  width: 200px;
  margin-right: -202px;
  margin-left: 2px;
}

.centerbox {
  overflow: visible;
  width: 100%;
}

.header {
  width: 100%;
  padding: 0;
  background: none;
}

.textpadder {
  padding: 8px;
}

#wrapper1,
#wrapper2,
.outer a,
.outer,
h2
{min-height: 1%;}

.brclear {
  clear:both;
  height:0;
  margin:0;
  font-size: 1px;
  line-height: 0;
}

#page {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

#header {
  width: 100%;
}

#page-wrapper {
  width: 100%;
}

#content {
  margin: 0;
  padding: 5px;
  border: 0;
}

#center {
  vertical-align:top;
  margin: 0;
  padding: 0;
}

#main {
  padding: 0;
  margin: 0;
}

  tbody {
  border: none;
}

body {
  font-family:  Arial, Verdana, sans-serif;
  line-height: 135%;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px .5em 0;
  padding: 0;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3, h4, h5, h6 {
  font-size: 1.1em;
}

#main h1.title {
  font-size: 150%;
  margin: .5em 0;
  padding: 0;
}

p {
  margin:0 0 10px 0;
  padding:0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  padding: 0.75em 1.5em;
  font-size: 12px;
}

table {
  font-size: 1em;
  border-collapse: collapse;
  width: 100%;
}

.form-item label {
  font-size: 1em;
}

.item-list .title {
  font-size: 1em;
}

.links {
  margin-bottom: .5em;
}

.comment .links {
  margin-bottom: 0;
}

.clr {
  clear: both;
}

#logo {
  position:relative;
  padding: 15px;
  vertical-align: middle;
  border: 0;
}

#logo img {
  border: 0;
}

.section {
  padding: 10px;
  margin: 0;
}

.section .block,
.section .box {
  padding: 0;
  margin: 0;
}

#section1 {
   margin: 5px 0 10px;
}

#section2 {
   margin-bottom: 10px;
}

table.sections {
  width: 100%;
  padding: 0;
  margin: 0;
}

td.section {
  padding: 10px 10px;
  margin: 0;
}

td.section.width49 {
  width: 50%;
}

td.section.width33 {
  width: 33%;
}

#page-top-region, #page-bottom-region {
  width: 100%;
  margin: 0 0 -10px 0;
  padding: 0;
}


#page-top-region .title, #page-bottom-region .title {
  font-size: 12px;
  font-weight: bold;
}

#page-top-region .content, #page-bottom-region .content {
  font-size: 11px;
  font-weight: normal;
}

#header-region {
  margin: 0;
  padding: 0 10px;
}

#header-region .title {
  font-size: 12px;
  font-weight: bold;
}

#header-region .content {
  font-size: 11px;
  font-weight: normal;
  margin: -5px 0 0 0;
  padding: 0;
}

#header-right-region {
  float: right;
  margin: 0;
  padding: 0;
  line-height: normal;
}

#header-right-region .block {
  margin: 0;
  padding: 0;
}

#header-right-region .title {
  font-size: 12px;
  font-weight: bold;
}

#header-right-region .content {
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#header-right-region .content p {
  margin: 0;
  padding: 0;
}

#header-right-region .titlewrap {
  display:none;
}

#sub-nav {
  margin: 0 10px -9px;
  padding: 0;
}

#sub-nav-region {
  width: 100%;
  margin: 0;
  padding: 0;
}

#sub-nav-region .title {
  font-size: 12px;
  font-weight: bold;
}

#sub-nav-region .content {
  font-size: 11px;
  font-weight: normal;
  margin-top: -5px;
  padding: 0;
}

#content-top {
}

#content-top .title {
}

#content-top .content {
}

#content-bottom {
}

#content-bottom .title {
}

#content-bottom .content {
}

#node-top-region {
  margin: 10px;
  padding: 5px 10px 0 10px;
}

#node-top-region .title {
  margin-bottom: -5px;
  font-size: 12px;
  font-weight: bold;
}

#node-top-region .content {
  font-size: 11px;
  font-weight: normal;
}

#footer-region {
  font-size: 0.8em;
  margin: 0;
  padding: 10px 10px 0 10px;
  text-align: center;
}

#footer-region .title {
}

#footer-region .content {
}

#headnavbot {
  width: 100%;
  margin: 0;
  padding: 0;
}

#navigation {
  height:30px;
  margin: 0;
  padding:0;
  white-space:nowrap;
}

td.menu {
width:auto;
}

ul#primary-links {
  list-style-type:none;
  margin: 6px 4px 0;
  padding:0;
}

ul#primary-links li {
  float:left;
  height:24px;
  list-style-type:none;
  margin: 0 2px;
  padding:0;
}

ul#primary-links li a {
  display:block;
  font-weight:bold;
  font-family:"Bitstream Vera Sans",Verdana,Helvetica;
  list-style-type:none;
  margin: 0;
  padding: 2px 8px 0;
  text-decoration:none;
  white-space:nowrap;
}

.searchwrap {
  width: 1%;
}

#search {
/*  float: right; */
  margin: 0;
  padding: 4px 7px;
  white-space:nowrap;
}

#search .form-item {
  margin: 0;
  padding: 0;
}

#search .form-text {
  padding: 0;
  margin: 0;
}

#search .form-submit {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

#secondary {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

#secondary ul {
  margin:0;
  padding:0;
  list-style:none;
}

#secondary li {
  margin:0;
  padding:0;
  display:inline;
}

#secondary li a {
  display: inline;
  text-align: center;
  font-size: 90%;
  padding:0px 14px 0px 14px;
}

#secondary a:hover {
  text-decoration: none;
}

#secondary a.active {
  font-weight:bold;
}

#mission {
  margin: 10px;
  padding: .25em .5em;
}

#mission a, #mission a:visited {
  font-weight: bold;
  text-decoration: underline;
}

.site-name {
  margin: 1em .2em .2em .5em;
  padding: 0;
  font-size: 2em;
}

.site-name a:hover {
  text-decoration: none;
}

.site-slogan {
  font-size: 1em;
  display: block;
  margin: 0 .2em .2em 1em;
  font-style: italic;
  font-weight: bold;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.breadcrumb {
  margin-bottom: 5px;
}

.messages {
  padding: 0.3em;
  margin-bottom: 1em;
}

.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;
}

.submitted {
  font-size: 0.8em;
}

.links a {
  font-weight: bold;
}

.block, .box {
  padding: 0 0 1.5em 0;
  margin: 0;
}

.block {
  padding: 0;
  margin: 0 0 .75em 0;
}

.block .title {
  margin: 0;
  padding:0;
}

.box .title {
  font-size: 1.1em;
}

.node {
  margin: 0;
  padding: 5px;
}

.node .title {
  margin: 0;
  padding: 0 0 5px 0;
}

.sticky {
  padding: .5em;
}

.node .content {
  margin: 0 0 .75em 0;
  padding: 5px;
}

.node .taxonomy {
  font-size: 0.8em;
}

.node .picture {
  float: right;
  margin: 0.5em;
}

.comment {
  padding: 1em;
  margin: 0 0 1em 0;
}

.comment .title a {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}

.comment .content {
  margin: 0;
  padding: 0;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
}

.comment .picture {
  float: right;
  margin: 0.5em;
}

#aggregator .feed-source {
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}

#aggregator h3 {
  margin-top: 1em;
}

#forum table {
  width: 100%;
}

#forum td {
  padding: 0.5em;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
}

#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

.block-forum h3 {
  margin-bottom: .5em;
}


div.admin .left {
  float:left;
  margin: 0;
  padding: 0;
  width:100%;
}

div.admin .right {
  float:right;
  margin:0;
  padding: 0;
  width:100%;
}

div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
}


.clear-block {
  display: block;
}

#leftsidebar .block {
  padding: 5px;
  margin: 0;
  position:relative;
}

#leftsidebar .titlewrap {
  padding: 0;
  margin: 0;
}

#leftsidebar .title {
  font-size: 110%;
  padding: 3px 0;
  margin: 0 7px;
}

#leftsidebar .content {
  padding: 5px;
  margin: 0;
}

#rightsidebar .block {
  padding: 5px;
  margin: 0;
  position:relative;
}

#rightsidebar .titlewrap, .titlewrap {
  padding: 0;
  margin: 0;
}

#rightsidebar .title {
  font-size: 110%;
  padding: 3px 0;
  margin: 0 7px;
}

#rightsidebar .content {
  padding: 5px;
  margin: 0;
}

#leftsidebar ul, #rightsidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0px;

}

#leftsidebar ul li, #rightsidebar ul li {
  background: url(images/bullet-orange.gif) no-repeat 1px 0em;
  padding-left: 18px;
  margin-left: 0px;
  list-style-type: none;
  list-style-image: none;
}

#leftsidebar ul li ul li, #rightsidebar ul li ul li {
  background: url(images/bullet-grey.gif) no-repeat 1px 0em;
  padding-left: 12px;
  margin-left: 0px;
  list-style-type: none;
  list-style-image: none;
}

ul.menu li, li.leaf {
  padding: .1em 0 .1em 1.5em;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: url(images/bullet-orange.gif) no-repeat 1px 0em;
}

ul.menu li.expanded {
  background: url(images/menu-expanded.gif) no-repeat 1px .4em;
}

ul.menu li.collapsed {
  background: url(images/menu-collapsed.gif) no-repeat 1px .4em;
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
  text-align: left;
}

#block-user ul li {
  padding: 0 0 .2em 1.5em;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: url(images/bullet-orange.gif) no-repeat 1px .1em;
}

#block-user ul li ul li {
  background: url(images/bullet-grey.gif) no-repeat 1px .1em;
  padding-left: 12px;
  margin-left: 0px;
}

#block-forum ul li {
  padding: 0 0 .2em 1.5em;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: url(images/mini-page.gif) no-repeat 1px .1em;
}

#block-comment ul li {
  padding: 0 0 .2em 1.5em;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: url(images/mini-comment.gif) no-repeat 1px .1em;
}

#block-blog ul li {
  padding: 0 0 .2em 1.5em;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: url(images/mini-archive.gif) no-repeat 1px .1em;
}

#leftsidebar a.active, #rightsidebar a.active {
  padding: 0 1.5em .2em 0;
  border: none;
  list-style-type: none;
  list-style-image: none;
  text-decoration: underline;
  background: url(images/mini-check.gif) no-repeat right;
}

#block-taxonomy_dhtml a {
  padding: 0 0 .2em 1.7em;
  border: none;
  line-height: 180%;
  list-style-type: none;
  list-style-image: none;
  background: url(images/mini-folder.gif) no-repeat 1px .1em;
}

#block-taxonomy_dhtml a.active {
  padding: 0 0 .2em 1.7em;
  border: none;
  font-weight: bold;
  list-style-type: none;
  list-style-image: none;
  background: url(images/mini-check.gif) no-repeat 1px -.2em;
}

.node_read_more a {
  background: url(images/mini-down-arrow.gif) no-repeat left center;
  padding-left: 15px;
}

.more-link a {
  background: url(images/mini-more.gif) no-repeat left center;
  padding-left: 15px;
  font-size: 9px;
}

.comment_comments a {
  background: url(images/comments.gif) no-repeat;
  padding-left: 26px;
  clear: both;
}

.poll .bar {
  height: 14px;
}

.poll .bar .foreground {
  background: url(images/bg-poll.gif) repeat-x;
  height: 14px;
  clear: none;
  float: left;
}

.poll .vote-form {
  text-align: center;
}

.poll .vote-form .choices {
  padding-left: 5%;
  text-align: left;
  display: block;
}

.comment_add a {
  background: url(images/mini-comment.gif) no-repeat left center;
  padding-left: 20px;
}

li.comment_delete a {
  background: url(images/mini-trash.gif) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(images/mini-edit.gif) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_reply a {
  background: url(images/mini-comments.gif) no-repeat 0 2px;
  padding-left: 15px;
}

.blog_usernames_blog a {
  background: url(images/mini-user.gif) no-repeat left center;
  padding-left: 20px;
}

#archives ul li {
  background: url(images/mini-archive.gif) no-repeat;
}

#recent-comments ul li {
  background: url(images/mini-comment.gif) no-repeat;
}

#categories ul li {
  background: url(images/mini-category.gif) no-repeat;
}

#recent-posts ul li {
  background: url(images/mini-page.gif) no-repeat;
}

#links ul li {
  background: url(images/mini-blogroll.gif) no-repeat;
}

.terms {
  font-size: 11px;
  float: right;
}

.terms a {
  padding: 1px 0px;
  text-decoration: none;
  background: url(images/mini-category.gif) no-repeat 0px -2px;
  padding-left: 20px;
}