/* #sizer {width:expression(document.body.clientWidth > 1280 ? "580px" : "100%" );} */
/* #expander {height: 0;} */
.header {background-position: 10px 3px;}
#wrapper1,#wrapper2,.outer a,.outer,h2{height: 1%;}
.outer {word-wrap: break-word;}
.outer p {margin-right: -6px;}
#search .form-submit {margin-bottom: -1px;}