ul#primary-links li {width:0px;}
#search .form-text {margin-bottom: -1px;}
table.sections {width: 0;}
#header-region .content {margin-top: 0;}
#sub-nav {margin-top: 5px;margin-bottom: -5px;}
#sub-nav-region .content {margin-top: 0;}